@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

.card-jogo {
  width: 300px;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 181, 54, 0.95);
  backdrop-filter: blur(10px);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

.card-jogo:hover {
  transform: scale(1.05);
}

.card-imagem-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: brightness(0.95);
}

.card-jogo:hover .card-imagem {
  transform: scale(1.1);
  filter: brightness(1.05);
}

.card-info {
  padding: 25px 20px 20px;
  background: linear-gradient(180deg, #ffffff 0%, #fafafa 100%);
  position: relative;
  color: #ffdd9f;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-titulo {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: 600;
  font-family: "Anton SC", sans-serif;
  color: #c26b00;
  letter-spacing: 2px;
  line-height: 1.3;
 
}

.card-conteudo {
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #872800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
}

.card-exemplo {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #744f00;
  letter-spacing: -0.5px;
  background-color: #ffec6fb3;
  padding: 5px 10px;
  border-radius: 8px;
}

.card-codigo {
   margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #744f00;
  letter-spacing: -0.5px;
 
  padding: 5px 10px;
  border-radius: 8px;
}
